.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: #F44336;
}

.nav-link {
    cursor: pointer;
    color: #CFD8DC;
    margin-top: 20px;
}

.nav-link:hover {
    color: #F5F5F5;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}